@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model GEMEscolar.Infra.Models.PainelTurmasModel;

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link href="~/css/LayoutIndex.css" rel="stylesheet"/>
</head>
<section class="vh-50">
    <div class="container-fluid">
            <div class="card" style="border-radius: 1rem;">

                <div class="text-center d-flex justify-content-center">
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <span class="h1 fw-bold mb-0">Controle de Turmas</span>
                    </div>
                </div>

                @{
                    using (Html.BeginForm("CriarNovaTurma", "Turmas", FormMethod.Post, Model.NovaTurma))
                    {
                        <div class="row justify-content-center">
                            <div class="card col-sm-8" style="border-radius: 1rem">
                                <br />
                                <h5 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Criar nova turma</h5>
                                
                                <div class="row">  
                                    <div class="col-md-12">  
                                        <div class="form-group">  
                                            @Html.Raw(@ViewBag.Alert)  
                                        </div>  
                                    </div>  
                                </div>

                                <div class="row justify-content-center">
                                    <div class="h5 mr-3">
                                        <label>Serie</label>
                                        <input type="text" asp-for="NovaTurma.Nome" class="form-control form-control-lg" placeholder="Qual serie?" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o Nome do aluno.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>Numero da Sala</label>
                                        <input type="text" asp-for="NovaTurma.Sala" class="form-control form-control-lg" placeholder="Qual sala?" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite data de nascimento do aluno.
                                        </div>
                                    </div>
                                    <div class="h5">
                                        <label>Turno</label>
                                        <select type="text" asp-for="NovaTurma.Turno" class="form-select form-control form-control-lg" aria-label="Default select example"  required>
                                            <option selected>Qual turno?</option>
                                            <option value="Matutino">Matutino</option>
                                            <option value="Vespertino">Vespertino</option>
                                            <option value="Noturno">Noturno</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="h5 mr-3">
                                        <label>Capacidade</label>
                                        <input type="text" asp-for="NovaTurma.Capacidade" class="form-control form-control-lg" placeholder="Qual capacidade?" 
                                        autocomplete="off"  required />
                                        <div class="invalid-feedback">
                                            Digite o Nome do aluno.
                                        </div>
                                    </div>
                                    <div class="h5 mr-3">
                                        <label>Professor</label>
                                        <select type="text" asp-for="NovaTurma.ProfessorId" class="form-select form-control form-control-lg" aria-label="Default select example"  required>
                                            <option selected>Professor</option>
                                        @{
                                            foreach(var item in Model.Professores)
                                            {
                                                if (item.Ativo)
                                                {
                                                    <option value="@item.Id">@item.Nome</option>
                                                }
                                            }
                                        }
                                        </select>
                                        <div class="invalid-feedback">
                                            Escolha um professor.
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-end align-content-xl-center">
                                    <input type="submit" value="Criar" class="btn btn-dark btn-lg btn-block w-25 mr-3 m-3" />
                                </div>
                            </div>
                        </div>
                    }
                }

                <br />

                <div class="row justify-content-center">
                    <div class="card col-sm-8" style="border-radius: 1rem">
                        <br />
                        <h5 class="text-center fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Turmas</h5>
                        <table class="table">
                            <thead class="table-success">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Serie</th>
                                <th scope="col">Capacidade</th>
                                <th scope="col">Professora</th>
                                <th scope="col">Turno</th>
                                <th scope="col">Sala</th>
                            </tr>
                            </thead>
                            <tbody>
                                @{
                                    if(Model is not null)
                                    {
                                        var length = 4;
                                        var count = 1;
                                        foreach(var item in Model.Turmas)
                                        {
                                            if(count <= length)
                                            {
                                                <tr>
                                                    <th scope="row">@count</th>
                                                    <td>@item.Nome</td>
                                                    <td>@item.Capacidade</td>
                                                    <td>@item.Professor.Nome</td>
                                                    <td>@item.Turno</td>
                                                    <td>@item.Sala</td>
                                                </tr>
                                                count++;
                                            }
                                            else
                                            {
                                                break;
                                            }
                                        }
                                    }
                                }
                                        
                            </tbody>
                        </table>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg btn-block w-25 m-3">Voltar</a>
                    </div> 
                </div>
                <br />
            </div>
        </>
    </div>
</section>
